In [1]:
import pandas as pd

In [85]:
result = pd.read_csv("result-exo-cc.csv")
pop_commune = pd.read_csv("population_communes.csv")
surface_dep = pd.read_csv("surface_departements.csv")

In [17]:
result.head(7)

,nom_dept,code_dept,code_region,pop_municipale,pop_totale,pct_pop_municipale,part_region,densite
0,Ain,01,84,638425,655171,97.444026,8.064089,110.377766
1,Aisne,02,32,536136,549587,97.552526,8.925380,72.343274
2,Allier,03,84,339384,349336,97.151167,4.286835,45.993224
3,Alpes-de-Haute-Provence,04,93,162565,167331,97.151753,3.237103,23.246818
4,Hautes-Alpes,05,93,141107,146148,96.550757,2.809817,24.768650
5,Alpes-Maritimes,06,93,1083704,1098539,98.649570,21.579441,252.376339
6,Ardèche,07,84,325157,334591,97.180438,4.107131,58.418433

In [151]:

df=pop_commune
pop_commune.head()

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
0,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population totale,184
1,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population municipale,177
2,55,10.0,2,44,Abainville,1,Grand Est,Population totale,310
3,55,10.0,2,44,Abainville,1,Grand Est,Population municipale,305
4,60,11.0,1,32,Abancourt,1,Hauts-de-France,Population totale,658

In [8]:
surface_dep.head()

  code_insee               nom  surf_km2
0        974        La Réunion    2505.0
1         11              Aude    6343.0
2         43       Haute-Loire    5003.0
3         13  Bouches-du-Rhône    5247.0
4         47    Lot-et-Garonne    5385.0

In [163]:
df = df.groupby(["Code département","Code région","variable"]).sum().reset_index()[["Code département","Code région","variable","value"]]
df.set_index("Code département")

                  Code région               variable    value
Code département
01                         84  Population municipale   638425
01                         84      Population totale   655171
02                         32  Population municipale   536136
02                         32      Population totale   549587
03                         84  Population municipale   339384
03                         84      Population totale   349336
04                         93  Population municipale   162565
04                         93      Population totale   167331
05                         93  Population municipale   141107
05                         93      Population totale   146148
06                         93  Population municipale  1083704
06                         93      Population totale  1098539
07                         84  Population municipale   325157
07                         84      Population totale   334591
08                         44  Population municipale   275371
08                         44      Population totale   283004
09                         76  Population municipale   153067
09                         76      Population totale   158205
10                         44  Population municipale   308910
10                         44      Population totale   316639
11                         76  Population municipale   368025
11                         76      Population totale   377580
12                         76  Population municipale   278697
12                         76      Population totale   289481
13                         93  Population municipale  2019717
13                         93      Population totale  2047433
14                         28  Population municipale   693679
14                         28      Population totale   709715
15                         84  Population municipale   145969
15                         84      Population totale   151615
...                       ...                    ...      ...
85                         52  Population municipale   670597
85                         52      Population totale   689496
86                         75  Population municipale   436069
86                         75      Population totale   447026
87                         75  Population municipale   374978
87                         75      Population totale   383215
88                         44  Population municipale   369641
88                         44      Population totale   382328
89                         27  Population municipale   340544
89                         27      Population totale   350970
90                         27  Population municipale   144089
90                         27      Population totale   147347
91                         11  Population municipale  1287330
91                         11      Population totale  1305061
92                         11  Population municipale  1603268
92                         11      Population totale  1622143
93                         11  Population municipale  1606660
93                         11      Population totale  1616311
94                         11  Population municipale  1378151
94                         11      Population totale  1389336
95                         11  Population municipale  1221923
95                         11      Population totale  1237218
971                         1  Population municipale   394110
971                         1      Population totale   400170
972                         2  Population municipale   376480
972                         2      Population totale   382294
973                         3  Population municipale   269352
973                         3      Population totale   271829
974                         4  Population municipale   852924
974                         4      Population totale   862814

[200 rows x 3 columns]

In [164]:
pop_muni = pop_commune[pop_commune["variable"]=="Population municipale"].groupby(["Code département","Code région"]).sum()["value"]
pop_muni.head()

In [168]:
d = pop_muni.reset_index()
d["pop_totale"] = pop_tot.values

   Code département  Code région    value  pop_totale
0                01           84   638425      655171
1                02           32   536136      549587
2                03           84   339384      349336
3                04           93   162565      167331
4                05           93   141107      146148
5                06           93  1083704     1098539
6                07           84   325157      334591
7                08           44   275371      283004
8                09           76   153067      158205
9                10           44   308910      316639
10               11           76   368025      377580
11               12           76   278697      289481
12               13           93  2019717     2047433
13               14           28   693679      709715
14               15           84   145969      151615
15               16           75   353288      365697
16               17           75   642191      660458
17               18           24   307110      315100
18               19           75   241535      249707
19               21           27   533213      546466
20               22           53   598953      618478
21               23           75   119502      123500
22               24           75   414789      426667
23               25           27   538549      552619
24               26           84   508006      522276
25               27           28   602825      620046
26               28           24   433929      445281
27               29           53   908249      936432
28               2A           94   154303      156958
29               2B           94   176152      179037
..              ...          ...      ...         ...
70               70           27   237242      244305
71               71           27   555023      572527
72               72           52   567561      582211
73               73           84   429681      442775
74               74           84   801416      823928
75               75           11  2190327     2210875
76               76           28  1255755     1280803
77               77           11  1397665     1419206
78               78           11  1431808     1458275
79               79           75   374743      385495
80               80           32   572744      584797
81               81           76   386448      397929
82               82           76   256897      263125
83               83           93  1055821     1073201
84               84           93   559014      570921
85               85           52   670597      689496
86               86           75   436069      447026
87               87           75   374978      383215
88               88           44   369641      382328
89               89           27   340544      350970
90               90           27   144089      147347
91               91           11  1287330     1305061
92               92           11  1603268     1622143
93               93           11  1606660     1616311
94               94           11  1378151     1389336
95               95           11  1221923     1237218
96              971            1   394110      400170
97              972            2   376480      382294
98              973            3   269352      271829
99              974            4   852924      862814

[100 rows x 4 columns]

In [93]:
pop_tot = pop_commune[pop_commune["variable"]=="Population totale"].groupby(["Code département","Code région"]).sum()["value"]
pop_tot.head()

Code département  Code région
01                84             655171
02                32             549587
03                84             349336
04                93             167331
05                93             146148
Name: value, dtype: int64

In [169]:
pct_pop_muni = pop_muni/pop_tot
pct_pop_muni.head()
d["pct_pop_muni"]=pct_pop_muni.values

In [95]:
pop_muni_region = pop_commune[pop_commune["variable"]=="Population municipale"].groupby("Code région").sum()["value"]

pop_muni_region

Code région
1       394110
2       376480
3       269352
4       852924
11    12117132
24     2577866
27     2818338
28     3335929
32     6006870
44     5555186
52     3737632
53     3306529
75     5935603
76     5808435
84     7916889
93     5021928
94      330455
Name: value, dtype: int64

In [96]:
pop_muni_reg = pop_muni.reset_index().merge(pop_muni_region, left_on = 'Code région', right_index=True).set_index(["Code département","Code région"])
pop_muni_reg = (pop_muni_reg["value_x"]/pop_muni_reg["value_y"])*100
pop_muni_reg.head()

Code département  Code région
01                84             8.064089
03                84             4.286835
07                84             4.107131
15                84             1.843767
26                84             6.416738
dtype: float64

In [170]:
d["part_region"]=pop_muni_reg.values

In [173]:
k = pop_muni.reset_index().merge(surface_dep, left_on='Code département', right_on = "code_insee")
surface = k["value"]/k["surf_km2"]

In [177]:
surface

0       110.377766
1        72.343274
2        45.993224
3        23.246818
4        24.768650
5       252.376339
6        58.418433
7        52.491613
8        31.180892
9        51.254355
10       58.020653
11       31.767582
12      384.927959
13      124.048462
14       25.280395
15       59.147497
16       92.990298
17       42.029561
18       40.952018
19       60.578618
20       85.699385
21       21.343454
22       44.978204
23      102.463661
24       77.463556
25       99.954402
26       73.162873
27      133.644644
28       38.412497
29       37.447279
          ...
70       44.015213
71       64.440149
72       90.882466
73       68.540597
74      165.581818
75    20860.257143
76      198.412861
77      235.813228
78      620.905464
79       62.043543
80       92.512357
81       66.836389
82       68.854731
83      175.094693
84      156.280123
85       98.704298
86       61.959221
87       67.478496
88       62.682890
89       45.643211
90      235.824877
91      707.713029
92     9161.531429
93     6807.881356
94     5648.159836
95      975.197925
96      241.193390
97      345.711662
98        3.224112
99      340.488623
Length: 100, dtype: float64

In [176]:
d["densite"]=surface.values

In [178]:
d.head()

,Code département,Code région,value,pop_totale,pct_pop_muni,part_region,densite
0,01,84,638425,655171,0.974440,8.064089,110.377766
1,02,32,536136,549587,0.975525,4.286835,72.343274
2,03,84,339384,349336,0.971512,4.107131,45.993224
3,04,93,162565,167331,0.971518,1.843767,23.246818
4,05,93,141107,146148,0.965508,6.416738,24.768650